.form-view > label {
  padding: 10px 0px 2px;
  color: #6f6f6f;
  font-weight: 600;
}
form#add-question-form>input{
  border-radius: 4px;
  height: 20px;
}
form#add-question-form>select{
  border-radius: 4px;
  height: 25px;
}
form#add-question-form {
  width: 250px;
  text-align: left;
}
span.reqstar {
  color: red;
}
form#add-question-form>input.button.add-button {
  width: auto;
  height: 30px;
  font-size: large;
  margin: 20px 0;
  padding: 5px 15px;
  border: none;
  align-self: normal;
  background:#444c49;
}
