.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  border: 1px #2e47f773 solid;
  text-align: left;
  border-radius: 10px;
  margin: 7px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 20px;
  margin-right: 5px;
}

img.delete {
  width: 20px;
}
ul.category_ul {
  width: 60%;
  margin: 20px 20%;
  text-align: center;
  cursor: pointer;
}
li.category_li {
  background: beige;
  padding: 5px;
  text-align: start;
  border-radius: 5px;
}
li.category_li:hover {
background: #ff2594;
}
.difficulty {
  margin-right: 20px;
  width: 180px;
}
span.countQues {
  float: right;
  color: #80806d;
  font-weight: 500;
  margin-right: 3px;
}
.delete-div {
  cursor: pointer;
}
.delete-div:hover {
  color:red;
}
input.button {
  cursor: pointer;
  padding: 5px 10px;
  width: 150px;
  border-radius: 10px;
}
input.searInput {
  width: 190px;
  margin: 5px 5px;
  height: 15px;
  border-radius: 5px;
  border: 2px solid dodgerblue;
  padding: 5px;
  cursor: zoom-in;
}
.show-answer.button {
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
.App-header>h2 {
  cursor: pointer;
}
.App-header>h2:hover {
  color:dodgerblue;
}